/* TAG SECTION  */

body {
  background-color: #f3ebe4;
}

/* CARD CONTAINER SECTION */
.card-container {
  background-color: #fff;
  max-width: 50%;
}

/* FOOTER SECTION */

.attribution {
  font-size: 11px; text-align: center;
  color: #6D6F78;
}
