/* Root */

:root {

  --white: #ffffff;
  --black: #000000;
  --darkcyan: #3C8067;
  --cream: #F2EBE3;
  --darkblue: #1C232B;
  --darkgrayishblue: #6C7289;
  --mediumlightgrey: #707176;
}

/* TAG SECTION  */

body {
  background-color: var(--cream);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: var(--mediumlightgrey);
}

/* CARD CONTAINER SECTION */

h1 {
  font-family: 'Fraunces', serif;
  font-weight: bold;
  color: var(--black);
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 12px;
}

/* FOOTER SECTION */

.attribution {
  font-size: 11px; text-align: center;
  color: var(-mediumlightgrey);
}
